<?xml version="1.0"?>
<launch>
    <!-- By default, we are not in debug mode -->
    <arg name="robot" default="sawyer"/>
    <arg name="moveit_config" default="$(arg robot)_moveit_config"/>
    <arg name="debug" default="false"/>

    <!-- Add planning context launch file -->
    <include file="$(eval find(moveit_config) + '/launch/planning_context.launch')">
        <arg name="load_robot_description" value="true"/>
    </include>

    <node pkg="tf2_ros" type="static_transform_publisher" name="virtual_joint_broadcaster_1" args="0 0 0 0 0 0 world base"/>

    <include file="$(eval find(moveit_config) + '/launch/move_group.launch')">
        <arg name="allow_trajectory_execution" value="true"/>
        <arg name="fake_execution" value="true"/>
        <arg name="info" value="true"/> -->
        <arg name="debug" value="$(arg debug)"/>
    </include>
</launch>
